.reviews .review-slider {
  padding: 1rem;
}

.reviews .review-slider .box {
  background: #fff;
  border-radius: 0.5rem;
  padding: 3rem 2rem;
  text-align: center;
  outline: var(--outline);
  outline-offset: -1rem;
  box-shadow: var(--boxShadow);
  height: 38rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reviews .review-slider .box:hover {
  outline: var(--outline-hover);
  outline-offset: 0rem;
}

.reviews .review-slider .box img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.reviews .review-slider .box p {
  padding: 1rem 0;
  line-height: 1.8;
  color: var(--lightColor);
  font-size: 1.5rem;
}

.reviews .review-slider .box h3 {
  padding-bottom: 0.5rem;
  color: var(--black);
  font-size: 2.2rem;
}

.reviews .review-slider .box .stars > * {
  color: var(--mainColor);
  font-size: 1.7rem;
}
